/*

Donut Shop Steez!

  Table of Contents:
  -background 10-25
  -text 30-50
  -colors 51 - 60
  -layout 60-100
  -animations

*/

/*background*/
body {
  background-color: #000D0C;
  margin-top: 70px;
  width: 90%;
  background-image: url("../img/black.jpg");
}

/*text*/
h1 {
  color: #BFB999;
  font-family: 'Syncopate', sans-serif;
  margin-left: 1%;
}
#blankspace{

}
/*table*/
td {
  padding: 15px;
}

#table-padding{
  padding-top: 5%;
  padding-left: 2%;
}

#fs-shops {
  border-color: #54594C;
  border-width: 4px;
  width: 100px;
  margin-left:auto;
  margin-right:auto;

}

#donut-table {
border-color: #000D0C;
background-color: #000D0C;
width: 90%;


}
#table-title {
  color: #BFB999;
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
}

th {
  color: #54594C;
  font-family: 'Syncopate', sans-serif;

}

td {
  color: #54594C;
  padding: 10px;
  padding-right: 12px;
  font-family: 'Syncopate', sans-serif;
}

tr {
  color: #54594C;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
}

#new-shop-form{
  border-color: #54594C;
  border-width: 4px;
  width: 20%;
  display: inline-block;
  position: relative;
  padding-left: 2%;
  z-index: 5;
}
#form-title {
  color: #BFB999;
  font-family: 'Syncopate', sans-serif;
  font-size: 14px;
}

fieldset {
  border-color: #54594C;
  background-color: #000D0C;
}


/*tr#Downtown {
  vertical-align: middle;
  border-top-width: -10px;
}*/

label {
  font-family: 'Syncopate', sans-serif;
  color: #54594C;
}

#description {
float: right;
  width:75%;
  /*left: 20px;*/
  font-family: 'Syncopate', sans-serif;
  color: #54594C;
  background-color: #000D0C;
  padding-left: 1%;
  padding-right: 1%;
}

#picture {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 11;
}

#lebowski {
  position: relative;
  left: 20px;
  font-family: 'Syncopate', sans-serif;
  color: #54594C;
}

#add-new-shop {
  color: #000D0C;
  background-color: #BFB999;
  border-color: #BFB999;
}

/*layout*/
#donut-king {
  clear: left;

  float:right ;
}

input {
  background-color: #54594C;
  border-color: #BFB999;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  background-color: #000D0C;
  width: 100%;
  z-index: 10;
}

/*img {
  float: right;
  margin: 0 0 1em 1em;
}*/

